.container {
    margin-top: 30px;
    border: 1px solid black;
}

input {
    height: 35px;
    width: 90vw;
    /* font-size: 20px; */
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}